body {
	margin:0;
background-image: url(../imagenes/parallax-1.jpg);
background-attachment: fixed;
}

header{

	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	z-index: 2;
}

#slider{

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	background-color: black;
}

#diapo1 {
	background-image: url(../imagenes/slide1.jpg);
	opacity: 1;
	display: block;
	width: 100%;
}

#diapo2 {
	background-image: url(../imagenes/slide2.jpg);
	opacity: 0;
	display: block;
	width: 100%;
}

#diapo3 {
	background-image: url(../imagenes/slide3.jpg);
	opacity: 0;
	display: block;
	width: 100%;
}

#slider div {
	width: 100%;
	height: 100%;
	background-size: cover;
	top: 0;
	position: absolute;
	transition:all 800ms ease-in-out;


}
#botones button{
	width:15px;
	height: 15px;
	background-color: black;
	color: white;
	border:none;
	border-radius: 50%;
}
#botones button:focus{
	outline: none;
}

footer{
	position: absolute;
	top: 700px;
}


.motos{
	float: left;
	width: 390px;

}

.motos img{
	border-radius: 50%;
	width: 370px;
	height:370px;
}

.motos button{
	background-color:#f0cc50;
	width: 100px;
	height: 40px;
	border-style: none;
	border-radius: 20px;
	transition: all 500ms ease-in-out ;

}
.motos button:after{
	content: "Shop Now"; 
	top: 5px;
}
.motos button:hover{
background-color: white;
}

#destacados{
	position: relative;
	width: 1170px;
	height: 700px;
	margin-top: 900px;
	margin:900px auto 0 auto;
	
}


h2{
	font-size: 52px;
	font-family:"Roboto",sans-serif;
	color: white;
	font-style: normal;
	font-style: none;
	margin-top: 18px;
	margin-bottom: 6px;
}

p{
	color: rgba(255,255,255,0.7);
	font-size: 14px;
	margin:0 auto 35px;
}